body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: 'Poppins';
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainBtn {
    color: white;
    background-color: #0096c7;
    border-color: #8eecf5;
    border-radius: 5px;
    margin: 0 10px;
    padding: 1rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.substraction {
    right: 40px;
}
.reset {
    right: 20px;
}

@media (max-width: 425px){
    .btn-group {
        display: flex;
        flex-direction: column;
    }
    .substraction {
        right: 0;
    }
    .reset {
        right: 0;
    }
    .mainBtn {
        margin-bottom: 15px;
    }
}